@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Yekan;
    font-weight: 400;
    src: url('../fonts/Yekan.ttf') format("woff");
  }
  @font-face {
    font-family: Yekan;
    font-weight: 500;
    src: url('../fonts/Yekan.ttf') format("woff");
  }
}
